<div id="formlance">
<h1>PROPOSTA DE COLETA</h1>

<form>
  <div class="row">
    <div class="col">
    <label for="origem">ORIGEM</label>
      <input id="origem" type="text" class="form-control" placeholder="LOCAL DE PARTIDA">
    </div>
   
  </div>
    <br>
  <div class="row">
    <div class="col">
    <label for="destino">DESTINO</label>
      <input id="destino" type="text" class="form-control" placeholder="Qual o Destino">
    </div>
    
  </div>
<br>
  <div class="row">
    <div class="col">
    <label for="produto">PRODUTO</label>
      <input id="produto" type="text" class="form-control" placeholder="Qual o produto a ser transportado">
    </div>
    <div class="col">
    <label for="quatidade">QUANTIDADE DISPONIVEL TOTAL</label>
      <input id="quatidade" type="text" class="form-control" placeholder="Quantidade total disponivel">
    </div>
  </div>
<br>
<div class="row">
<div class="col">
<app-salvar></app-salvar>
</div>
<div class="col">
<app-pausar></app-pausar>
</div>
</div>
</form>
