<div id="formEmpresa">
  <h1>CADASTRE ABAIXO A EMPRESA</h1>
  <form>
    <div class="row">
      <div class="col">
        <label for="">CNPJ</label>
        <input id="cnpj" type="text" class="form-control" placeholder="CNPJ" />
      </div>
      <div class="col">
        <label for="rasao">RASÃO SOCIAL</label>
        <input
          id="rasao"
          type="text"
          class="form-control"
          placeholder="Nome da sua Empresa"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="cidade">CIDADE</label>
        <input
          id="cidade"
          type="text"
          class="form-control"
          placeholder="Qual a sua Cidade?"
        />
      </div>
      <div class="col">
        <label for="estado">ESTADO</label>
        <input
          id="estado"
          type="text"
          class="form-control"
          placeholder="Coloque seu Estado"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="area">ÁREA PRODUTORA</label>
        <input
          id="area"
          type="text"
          class="form-control"
          placeholder="O que voce produz?"
        />
      </div>
      <div class="col">
        <label for="senha">SENHA PARA O ACESSO</label>
        <input
          type="text"
          class="form-control"
          placeholder="cadastre uma senha aqui."
        />
      </div>
    </div>
    <br />
     <app-salvar></app-salvar>
  </form>
</div>
