@import '../../../dist/scss/variaveis.scss';

#Corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 5%;
    color: $fontes-collor;


}


img {

    width: 50%;
    height: 50%;


}


.Direita {
    background-color: $objects-color;
    margin: 1%;
    width: 50%;
    height: 200%;
    text-align: center;
    border: 2px solid $alertas-collor;
    border-radius: 3%;


    h2,
    h3,
    h5,
    li,
    ul {
        background-color: transparent;
    }


    ul {
        border: 2px solid $atention-collor;

    }




}

.Esquerda {


    width: 500px;
    height: 100%;
    text-align: center;
    border: 2px solid $alertas-collor;
    border-radius: 3%;


    section {
        margin: 5%;
        cursor: pointer;
        font-size: 25px;


    }



}

.products :hover {
    border-radius: 5%;
    background-color: $atention-collor;
}

li {
    list-style-type: none;
}