<div id="Corpo">
  <app-cadastrar (click)="cadastraruser()"></app-cadastrar>
  <br />
  <div class="Esquerda">
    <h1>{{ titleofertas }}</h1>

    <ul
      class="products"
      (click)="SelecionarItem()"
      *ngFor="let item of listofertas"
    >
      <li>{{ item.produto }}</li>
    </ul>

    <div *ngIf="!listofertas.length">
      <h3>
        Parece que não existe nenhum lance ativo, que tal cadastrar um agora !
      </h3>
      <img [src]="imgtalk" />
    </div>
  </div>

  <div class="Direita">
    <h2>Ofertas Recebidas</h2>
    <h3 *ngIf="!DetalheOferta.length">
      Nenhuma oferta ainda foi oferecida para seus produtos.
    </h3>
    <section *ngIf="DetalheOferta.length">
      <ul *ngFor="let item of DetalheOferta">
        <li>
          Valor cobrado de {{ item.PrecoCobrado }}R$ por
          {{ item.RSTransporte }}Kg transportado

          <button (click)="aceitar()">✔️</button>
          <button (click)="remover()">❌</button>
        </li>
      </ul>
    </section>
  </div>
</div>
