<div id="Corpo">
  <div class="Esquerda">
    <img src="../../../assets/Secure login.gif" alt="faça seu login" />
  </div>

  <div class="Direita">
    <h3>{{ "Faça seu Login" | uppercase }}</h3>

    <label for="cnpj">CJPJ/CPF</label>

    <input
      type="text"
      name="cnpj"
      id="cnpj"
      placeholder="CNPJ ou CPF"
      [(ngModel)]="cnpj"
    />

    <label for="senha">SENHA</label>
    <input
      type="password"
      name="senha"
      id="senha"
      placeholder="Insira a sua senha"
      [(ngModel)]="senha"
    />

    <h5 *ngIf="alerta == true">{{ mensagem }}</h5>

    <app-proceguir (click)="validalogin()"></app-proceguir>

    <h2>OU</h2>

    <app-cadastrar (click)="cadastraruser()"></app-cadastrar>
  </div>
</div>
