@import '../../../dist/scss/variaveis.scss';

#Corpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    // margin: 5%;
    color: $fontes-collor;
    padding: 5%;



}


.img {

    width: 60%;
    height: 100%;

}




.Direita {
    background-color: $objects-color;
    padding: 1%;
    width: 300px;
    height: 200%;
    text-align: center;
    border: 2px solid $alertas-collor;
    border-radius: 3%;

    .form-group,
     label,
    form,
    label,
    h2,
    h3 {
        background-color: transparent;
    }

    input {
        background-color: transparent;
        border: 2px solid $atention-collor;
        cursor: pointer;

    }

    h5 {
        background-color: $alertas-collor;
        color: aliceblue;
    }


}