<div id="Corpo">
  <div class="Esquerda">
    <img src="../../../assets/Secure login.gif" alt="faça seu login" />
  </div>

  <div class="Direita">
    <h3>FAÇA SEU LOGIN</h3>
    <form action="Login">
      <label for="cnpj">CJPJ/CPF</label>
      <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ ou CPF" />
      <br />
      <label for="senha">SENHA</label>
      <input
        type="password"
        name="senha"
        id="senha"
        placeholder="Insira a sua senha"
      />

      <app-proceguir></app-proceguir>

      <h2>OU</h2>

      <app-cadastrar></app-cadastrar>
      
    </form>
  </div>
</div>
