<div id="Corpo">
  <div class="Esquerda">
    <img [src]="imgsenha" alt="faça seu login" />
  </div>

  <div class="Direita">
    <h3>{{ "Faça seu Login" | uppercase }}</h3>

    <div class="form-group">
      <label for="cnpj">CNPJ/CPF</label>
      <input
        [(ngModel)]="cnpj"
        type="text"
        class="form-control"
        id="cnpj"
        aria-describedby="CNPJ ou CPF"
        placeholder="CNPJ ou CPF"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="senha">SENHA</label>
      <input
        [(ngModel)]="senha"
        type="password"
        class="form-control"
        id="senha"
        placeholder="Insira a senha"
      />
    </div>

    <h5 *ngIf="alerta == true">{{ mensagem }}</h5>

    <app-proceguir (click)="validalogin()"></app-proceguir>

    <h2>OU</h2>

    <app-cadastrar (click)="cadastraruser()"></app-cadastrar>
  </div>
</div>
